@import './base.css';
@import 'tailwindcss';

#app {
  margin: 0 auto;
  padding: 0;
  font-weight: normal;
}

body {
  background: #f6f8fa;
  color: #222;
  font-size: 16px;
  line-height: 1.7;
}

a {
  text-decoration: none;
  transition: color 0.2s;
  padding: 2px 4px;
  border-radius: 4px;
}

/* a:hover {
  background: #e0e7ff;
  color: #1e40af;
} */
